.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.brand a {
    text-decoration: none;
}

.dates {
    text-align: center;
    color: var(--color-silver);
}

.buttons {
    color: var(--color-silver);
    display: flex;
    gap: .7rem;
}

.button {
    padding: .3rem 1rem;
    border-radius: 3px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.button:hover {
    text-decoration: underline;
}

.cta {
    color: var(--color-light-gray);
    border: 1px solid var(--color-orange);
    background-color: var(--color-orange);
}

.cta:hover {
    text-decoration: none;
}

.tooltip {
    padding: .5rem;
    background-color: #141414;
    border: 1px solid #262626;
    border-radius: 0.3rem;
}